body {
background: #FFFFFF;
}

.blue{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
  color:#4D5AE5;
}
.black{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
  color:#2E2F42;
}
a:link {
  text-decoration: none;
  color:#434455;

}
.menu-list{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  color:#2E2F42;
}
.mail-tel {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 20px;
  letter-spacing: 2%;
  font-style: normal;
}
ul{
    list-style-type: none;
}

.main-page .title{
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.mini-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.se


.third-section h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;

}
.third-section p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
